.hackathons {
    padding-top: 120px;
    font-size: 2rem;
    background-color: #7161ef;
    color: white;
    padding-bottom: 155px;
}

.number {
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    animation: shake 10s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.hackathonInfo {
    text-align: center;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(0px, -10px, 0);
    }
    20%, 80% {
      transform: translate3d(0px, 7px, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(0px, -5px, 0);
    }
    40%, 60% {
      transform: translate3d(0px, 5px, 0);
    }
  }