
.intro {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

h1 {
    padding-bottom: 10px;
}

.introText {
    padding-top: 25px;
}

#myhand {
    width: 115px;
    height: 130px;
    position: relative;
    padding-right: 5px;
    z-index: -1;
    transform: rotate(-20deg);  
}

#pic {
    border-radius: 50%;
    width: 300px;
}

#myface {
    width: 180px;
    height: 200px;
}

@media screen and (max-width: 767px) {   
    #myhand {
        width: 90px;
        height: 90px;
        position: relative;
        padding-right: 5px;
        z-index: -1;
        transform: rotate(-20deg);  
    }
    #myface {
        width: 135px;
        height: 150px;
    }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 4s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 50% 100%;       /* Pivot around the middle of palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(-10.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(8.0deg) }
   30% { transform: rotate(-10deg) }
   40% { transform: rotate(4.0deg) }
   50% { transform: rotate(-10.0deg) }
   60% { transform: rotate(0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}