
body {
    /* background-image: linear-gradient(to bottom right, palevioletred, transparent); */
    /* background-color: #f4d35e; */
    background-color: #3a86ff;
    height: fit-content;
    margin:0px;   
    padding:0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.start {
    background-color: red;
    outline: none;
    color: black;
    cursor: pointer;
}

.stop {
    background-color: green;
    outline: none;
    color: white;
    cursor: pointer;
}

.intro {
    text-align: center;
    padding-top: 8rem;
}

@media screen and (max-width: 767px) {  
    .intro {
        text-align: center;
        padding-top: 6.5rem;
    }
}

hr {
    border-style: solid none none;
    border-width: 5px;
    border-color: white;
    width: 20%;
}

.title {
    margin: auto;
    border: solid white;
    border-width: 5px;
    width: fit-content;
    padding: 10px 10px 10px 10px;
}