
body {
    background-image: linear-gradient(to bottom right, palevioletred, transparent);
    background-color: #f4d35e;
    height: 5000px;
    margin:0;   
    padding:0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.start {
    background-color: red;
    outline: none;
    color: black;
    cursor: pointer;
}

.stop {
    background-color: green;
    outline: none;
    color: white;
    cursor: pointer;
}

.intro {
    text-align: center;
    padding-top: 7rem;
}

hr {
    border-style: solid none none;
    border-width: 5px;
    border-color: white;
    width: 20%;
}